@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #E3A974,#944B07);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4d2b065d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #399140;
    text-align: center;
    text-shadow: 1px 1px 2px #1e4d2252;
}

h2{
    color: #00E013;
}

p{
    text-align: justify;
}
